{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>NewYear</title>
     <link rel="stylesheet" href={% static "newyear/newyear.css" %}>
</head>
<body>
     <h1>Desde NewYear</h1>

     {% if new %}
     <h2>siiiiiiiiii</h2>
     {% else %}
     <h1>nooooooooooooooooooooooooo</h1>
     {% endif %}
</body>
</html>